.App {
  width: 450px;
  height: 550px;
}

.main {
  padding: 10px 15px;
}

.mantine-ds8gyj div:nth-child(2) {
  width: 100% !important;
}

.mantine-1kf7fe1 div:first-child {
  width: 93% !important;
}

.mantine-1kf7fe1 input:focus {
  width: 93%;
  border: none !important;
  outline: none !important;
}